

    <h3><%= @post.title %></h3>
    <img src="<%= @post.image_url %>" alt="<%= @post.title %> photo"><br><br>
    <strong><%= @post.created_at %></strong>
    <p><%= @post.description %></p>
    <p>BY: <%= @post.user.username %></p>

    <a href="/posts/<%= @post.id %>/edit">Edit Post</a>

    <form class="" action="/posts/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Delete This Post">
    </form>
